<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#joinform').submit(validation);
			$('#openButton').click(idWindowOpen);
			$('#memberId').click(idWindowOpen);
		});
		
		function validation() {
			let id   = $('#memberId').val();
			let pw   = $('#memberPassword').val();
			let pw2  = $('#memberPassword2').val();
			let name = $('#memberName').val();
			
			if (id.length < 3 || id.length > 10) {
				alert('ID는 3~10자로 입력하세요.');
				return false;
			}
			if (pw.length < 3 || pw.length > 10) {
				alert('비밀번호는 3~10자로 입력하세요.');
				return false;
			}
			if (pw != pw2) {
				alert('비밀번호를 정확하게 입력하세요.');
				return false;
			}
			if (name == '') {
				alert('이름을 입력하세요.');
				return false;
			}
			return true;
		}
		
		// ID 중복 확인창 열기
		function idWindowOpen() {
			let w = window.open('idCheck', 'idwin', 'top=200,left=500,width=700,height=300');
		}
	</script>
</head>
<body>
	<header>
		<h1>[ 회원가입 ]</h1>
	</header>
	
	<section>
		<form id="joinform" th:action="@{join}" method="post">
			<table>
				<tr>
					<th>ID</th>
					<td>
						<input type="text" name="memberId" id="memberId"
							maxlength="10" placeholder="ID중복확인 이용"
							readonly="readonly">
						<input type="button" id="openButton" value="ID중복확인">
					</td>
				</tr>
				<tr>
					<th>비밀번호</th>
					<td>
						<input type="password" name="memberPassword"
							id="memberPassword" placeholder="비밀번호 입력">
						<br>
						<input type="password" id="memberPassword2"
							placeholder="비밀번호 다시 입력">
					</td>
				</tr>
				<tr>
					<th>이름</th>
					<td>
						<input type="text" name="memberName" id="memberName"
							placeholder="이름 입력">
					</td>
				</tr>
				<tr>
					<th>이메일</th>
					<td>
						<input type="text" name="email" id="email"
							placeholder="이메일 입력">
					</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>
						<input type="text" name="phone" placeholder="전화번호 입력">
					</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						<input type="text" name="address" placeholder="주소 입력">
					</td>
				</tr>
			</table>
			<br>
			<button type="submit">가입</button>
			<button type="reset">다시 쓰기</button>
		</form>
	</section>

</body>
</html>