<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		$(function() {
			$('#loginForm').submit(function() {
				if ( $('#id').value == '' || $('#password').val() == '' ) {
					alert('ID와 비밀번호를 입력하세요');
					return false;
				}
				return true;
			});
		});
	</script>
</head>
<body>

	<header>
		<h1>[ 로그인 ]</h1>
	</header>
	
	<section>
		<form th:action="@{/member/login}" method="post" id="loginForm">
			<table>
				<tr>
					<td>ID</td>
					<td>
						<input type="text" name="id" id="id">
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						<input type="password" name="password" id="password">
					</td>
				</tr>
				<tr>
					<td class="white"></td>
					<td class="white">
						<!-- 경로 ?error=true -->
						<div class="errorMsg" th:if="${param.error}">ID 또는 비밀번호가 틀립니다.</div>
						<div class="errorMsg" th:if="${param.error}">
							<script>alert('ID 또는 비밀번호가 틀립니다.')</script>
						</div>
					</td>
				</tr>				
				<tr>
					<td colspan="2" class="center white">
						<input type="submit" value="login">
					</td>
				</tr>
			</table>
		</form>
	</section>

</body>
</html>