<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<style>
		table, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
	</style>
	<script>
	/*
		let pw;
		let pw2;
		let name;
		window.onload = function() {
			pw = document.getElementById("password");
			pw2 = document.getElementById("password2");
			name = document.getElementById("name");
		}
		
		function submitFunc() {
			let pw = document.getElementById("password");
			let pw2 = document.getElementById("password2");
			let name = document.getElementById("name");
			
			if(!(pw.value.length >= 3 && pw.value.length <= 10)) {
				alert("비밀번호를 3~10자리 입력해주세요!");
				return false;
			}
			if(pw.value != pw2.value) {
				alert("비밀번호가 다릅니다.");
				return false;
			}
			if(name.value == "") {
				alert("이름을 입력해주세요");
				return false;
			}
			return true;
		}
		*/
		$(document).ready(function(){
			$('#updateForm').submit(function(){
				let pw = $('#memberPassword').val();
				let pw2 = $('#memberPassword2').val();
				let name = $('#memberPassword').val();
				
				if(pw != '' && (pw.length < 3 || pw.length > 10)) {
					alert("비밀번호를 3~10자로 입력해주세요!");
					return false;
				}
				if(pw != pw2) {
					alert("비밀번호를 정확하게 다시 입력하세요.");
					return false;
				}
				if(name == '') {
					alert("이름을 입력하세요");
					return false;
				}
			});
			
		});
	</script>
</head>
<body>
	<form th:action="@{info}" id="updateForm" method="post" onsubmit="return submitFunc()">
		<table>
			<tr>
				<td>아이디</td>
				<td><input type="text" th:if="${member != null}" th:value="${member.memberId}" readonly></td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td>
					<input type="password" name="memberPassword" placeholder="3~10자" id="password"><br>
					<input type="password" name="memberPassword" placeholder="3~10자" id="password2">
				</td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" th:if="${member != null}" th:value="${member.memberName}" id="name" name="memberName"></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td><input type="text" name="email" th:if="${member != null}" th:value="${member.email}"></td>
			</tr>
			<tr>
				<td>전화번호</td>
				<td><input type="text" th:if="${member != null}" th:value="${member.phone}" name="phone"></td>
			</tr>
			<tr>
				<td>주소</td>
				<td><input type="text" th:if="${member != null}" th:value="${member.email}" name="address"></td>
			</tr>
		</table>
		<input type="submit" value="수정">
		<input type="reset" value="다시쓰기">
	</form>
</body>
</html>