<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<h1>HOME</h1>
	
	<h3>JPA를 활용한 DB 연동</h3>
	<ul>
		<li><a th:href="@{basic/insertData}">데이터 저장</a></li>
		<li><a th:href="@{basic/selectData}">데이터 조회</a></li>
		<li><a th:href="@{basic/updateData}">데이터 수정</a></li>
		<li><a th:href="@{basic/deleteData}">데이터 삭제</a></li>
		<li><a th:href="@{basic/selectAllData}">전체 조회</a></li>
	</ul>
	
	<p th:text="${session.loginMember != null ? session.loginMember.id : '로그인 되지 않음'}"></p>
	
	<ul>
		<!-- 
		<li th:if="${session.loginMember != null}" th:text="${session.loginMember.id}"></li>
		<li th:unless="${session.loginMember != null}">로그인 되지 않음</li>
		-->
		
		<li th:if="${session.loginId == null}">
			<a th:href="@{member/login}">로그인</a>
		</li>
		<li th:if="${session.loginId != null}">
			<a th:href="@{member/logout}">로그아웃</a>
		</li>
		<li><a th:href="@{member/join}">회원가입</a></li>
		<li th:if="${session.loginId != null}">
			<a th:href="@{member/update}">회원정보수정</a>
		</li>
		<li th:if="${session.loginId != null}">
			<a th:href="@{member/select}">회원정보조회</a>
		</li>
		<li><a th:href="@{member/list}">회원목록조회</a></li>
	</ul>
</body>
</html>