<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시글 목록(페이징X)</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>

	<header>
		<h1><a th:href="@{/board/listAll}">[ 게시판 - 전체목록 ]</a></h1>
	</header>

	<section>
		<table>
			<tr>
				<td class="white" colspan="4"></td>
				<td class="head">
					<a sec:authorize="isAuthenticated()"
					   th:href="@{/board/write}">글쓰기</a>
					<a th:href="@{/}">HOME</a>
				</td>
			</tr>
			<tr>
				<th>번호</th>
				<th style="width: 300px;">제목</th>
				<th>작성자</th>
				<th>조회수</th>
				<th>작성일</th>
			</tr>
			<!-- DB에 저장된 데이터 출력 -->
			<tr th:each="board : ${boardList}">
				<td th:text="${board.boardNum}" class="center"></td>
				<td>
					<a th:text="${board.title}" 
					   th:href="@{/board/read(boardNum=${board.boardNum})}">
					</a>
				</td>
				<td th:text="${board.memberId}" class="center"></td>
				<td th:text="${board.viewCount}" class="center"></td>
				<td th:text="${#temporals.format(board.createDate, 'yy.MM.dd HH:mm')}"></td>
			</tr>
		</table>
	</section>
</body>
</html>