<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>회원 정보 수정</title>
	<script>
		let idInput;
		let pwInput;
		let nameInput;
		window.onload = function() {
			idInput = document.getElementById("idInput");
			pwInput = document.getElementById("pwInput");
			nameInput = document.getElementById("nameInput");
			
			//console.log(idLength)
		}
		
		function submitFunc() {
			let idLength = idInput.value.length;
			let pwLength = pwInput.value.length;
			let nameValue = nameInput.value;
			
			if(!(idLength >= 3 && idLength <= 10)) {
				alert("id를 3~10자 사이로 입력해 주세요");
				return false;
			}
			
			if(!(pwLength >= 3 && pwLength <= 10)) {
				alert(`비밀번호를 3~10자 사이로 입력해주세요. 현재 ${pwLength}자`);
				return false;
			}
			
			if(nameValue == "" || nameValue == null || nameValue == undefined) {
				alert("이름을 입력해주세요!");
				return false;
			}
			return true;
		}
	</script>
</head>
<body>
	<h2>정보 정보 수정</h2>
	<form action="update" onsubmit="return submitFunc()" method="post">
		<table>
			<tr>
				<td>ID</td>
				<td><input type="text" placeholder="3~10자 사이" name="id" id="idInput" th:value="${member.id}" readonly></td>
			</tr>
			<tr>
				<td>PW</td>
				<td><input type="text" placeholder="3~10자 사이" name="pw" id="pwInput" th:value="${member.pw}"></td>
			</tr>
			<tr>
				<td>NAME</td>
				<td><input type="text" placeholder="null 안됨" name="name" id="nameInput" th:value="${member.name}"></td>
			</tr>
			<tr>
				<td>PHONE</td>
				<td><input type="text" name="phone" th:value="${member.phone}"></td>
			</tr>
			<tr>
				<td>ADDRESS</td>
				<td><input type="text" name="address" th:value="${member.address}"></td>
			</tr>
			<tr>
				<td style="text-align:center" colspan="2"><input type="submit" value="수정"></td>
			</tr>
		</table>
	</form>
</body>
</html>